{% extends "base.html" %}

{% block content %}
<!-- home page slider -->
<div class="homepage-slider">
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Organic</p>
							<h1>Delicious Seasonal Fruits</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Fruit Collection</a>
								<a href="contact.html" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh Everyday</p>
							<h1>100% Organic Collection</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Visit Shop</a>
								<a href="contact.html" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-right">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Mega Sale Going On!</p>
							<h1>Get December Discount</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Visit Shop</a>
								<a href="contact.html" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 90%;" id="loginModalContent">
            <div class="modal-header" id="loginModalHead">
                <h3 class="modal-title" id="exampleModalLongTitle" style="margin-left: 15px;">Login</h3>
                <h3 type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </h3>
            </div>
            <div class="modal-body" style="margin: 12px;">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
							<span class="flag-icon flag-icon-in" style="margin-right: 8px;"></span> +91
						</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" placeholder="Phone number" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="mb-4"></div>
                <div class="input-group input-group-lg">
                    <button class="btn btn-dark btn-lg w-100 mb-4">Send OTP</button>
                </div>
                <p class="text-center mb-4">or</p>
                <div class="input-group input-group-lg">
                    <button class="btn btn-outline-dark btn-lg w-100 mb-4" id="loginEmailPage" onclick="showEamilModal()">
                        <i class="fas fa-envelope"></i>
                        Continue with Email
                    </button>
                </div>
                <div class="input-group input-group-lg">
                    <button class="btn btn-outline-dark btn-lg w-100 mb-4">
                        <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo" style="width: 20px; height: 20px;" /> Sign in with Google
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-left fs-6 w-100" style="margin-left: 15px;">
                    New to <strong>Sweet Delight</strong>? 
                    <a href="#" class="text-primary text-decoration-none">Create account</a>
                </p>
            </div>
        </div>
    </div>
</div>

			<div id="emailModalDiv" style="display: none;">	
				<div class="modal-content" style="width: 90%;">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLongTitle" style="margin-left: 15px;">Login</h3>
						<h3 type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</h3>
					</div>
					<div class="modal-body" style="margin: 12px;">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" aria-label="Large" placeholder="Email" aria-describedby="inputGroup-sizing-sm">
						</div>
						<div class="mb-4"></div>
						<div class="input-group input-group-lg">
							<button class="btn btn-dark btn-lg w-100 mb-4">Send OTP</button>
						</div>
						
					</div>
					<div class="modal-footer">
						<p class="text-left fs-6 w-100" style="margin-left: 15px;">
							Already have an account? 
							<a href="#" class="text-primary text-decoration-none" id="loginPage" onclick="showModal(this)">Login</a>
						</p>
					</div>
				</div>
			</div>

			<div id="loginModalDiv" style="display: none;">
				<div class="modal-content" style="width: 90%;">
					<div class="modal-header" id="loginModalHead">
						<h3 class="modal-title" id="exampleModalLongTitle" style="margin-left: 15px;">Login</h3>
						<h3 type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</h3>
					</div>
					<div class="modal-body" style="margin: 12px;">
						<div class="input-group input-group-lg">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<span class="flag-icon flag-icon-in" style="margin-right: 8px;"></span> +91
								</span>
							</div>
							<input type="text" class="form-control" aria-label="Large" placeholder="Phone number" aria-describedby="inputGroup-sizing-sm">
						</div>
						<div class="mb-4"></div>
						<div class="input-group input-group-lg">
							<button class="btn btn-dark btn-lg w-100 mb-4">Send OTP</button>
						</div>
						<p class="text-center mb-4">or</p>
						<div class="input-group input-group-lg">
							<button class="btn btn-outline-dark btn-lg w-100 mb-4" id="loginEmailPage" onclick="showEamilModal()">
								<i class="fas fa-envelope"></i>
								Continue with Email
							</button>
						</div>
						<div class="input-group input-group-lg">
							<button class="btn btn-outline-dark btn-lg w-100 mb-4">
								<img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo" style="width: 20px; height: 20px;" /> Sign in with Google
							</button>
						</div>
					</div>
					<div class="modal-footer">
						<p class="text-left fs-6 w-100" style="margin-left: 15px;">
							New to <strong>Sweet Delight</strong>? 
							<a href="#" class="text-primary text-decoration-none">Create account</a>
						</p>
					</div>
				</div>
			</div>
			
			<input id="outsideDiv1" style="margin-top: 200px;">
<script>
    function showModal(element) {
		// Trigger the modal
		$('#loginModal').modal('show');
		// Ensure the overflow property is set to auto so the body can scroll
		$('body').css('overflow', 'auto');
		$('body').css('padding-right', '');
		
	}

	function showEamilModal(element) {
		// Trigger the modal
		var htmlContent = $('#emailModalDiv').html();
    	console.log("HTML Content:", htmlContent);
		$('#loginModalContent').replaceWith(htmlContent);
		
	}
	
</script>
{% endblock  %}